<div class="container">
  <div class="row">
    <div class="col-sm table-responsive">
      <table class="ta table table-bordered table-hover">
        <tr scope="row" class="thead-dark">
          <th colspan="2">Items Added</th>
        </tr>
        <tr scope="row" class="table-active">
          <th scope="col">Item</th>
          <th scope="col">Calories</th>
        </tr>
        <tr scope="row">
          <td scope="col">Banana</td>
          <td scope="col">89</td>
        </tr>
        <tr scope="row">
          <td scope="col">Watermelon</td>
          <td scope="col">30</td>
        </tr>
        <tr scope="row">
          <td scope="col">Eggs</td>
          <td scope="col">155</td>
        </tr>
        <!-- <tr scope="row">
          <td scope="col">Chicken</td>
          <td scope="col">165</td>
        </tr> -->
        <tr scope="row" class="table-active">
          <th scope="col">Total</th>
          <th scope="col">274</th>
        </tr>
      </table>
    </div>
  </div>
</div>