<mat-toolbar color="primary">
        <mat-toolbar-row>
          <!--  <span>HOME</span> -->
           <span><a href="/">HOME</a></span>
           <span class="spacer"></span>
           <a  mat-button  routerLink="/register">Register</a>
           <a  mat-button  routerLink="/login">Login</a>
        </mat-toolbar-row>
</mat-toolbar>



<mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>