<!-- header code -->

<!-- <div class="header">
    <nav class="navbar">
      <a href="#default" routerlink="home" id="he" class="navbar-brand">Fitness Management</a>
      <div class="header-right ">
        <a href="#bmi" routerLink="bmi">BMI Calculator</a>
        <a href="#calorie" routerLink="calorie">Calorie Calculator</a>
      </div>
    </nav>
  </div>
  <br> -->

<!-- items code -->

<div class="container">
    <div class="row">
      <div class="col-sm table-responsive">
        <div class="card mb-3">
          <h5 class="card-header">Apple</h5>
          <img style="height: 150px; width: 100%; display: block;" src="../assets/apple.jpg" alt="Card image">
          <div class="card-body">
            <p class="p"> Calories: 52</p>
            <button type="button" class="btn btn-outline-primary">ADD</button>
          </div>
        </div>
  
      </div>
  
      <div class="col-sm table-responsive">
        <div class="card mb-3">
          <h5 class="card-header">Oranges</h5>
          <img style="height: 150px; width: 100%; display: block;" src="../assets/Orange.jpg" alt="Card image">
          <div class="card-body">
            <p class="p"> Calories: 47</p>
            <button type="button" class="btn btn-outline-primary">ADD</button>
          </div>
        </div>
      </div>
      <div class="col-sm table-responsive">
        <div class="card mb-3">
          <h5 class="card-header">Watermelon</h5>
          <img style="height: 150px; width: 100%; display: block;" src="../assets/watermelon1.jpg" alt="Card image">
          <div class="card-body">
            <p class="p"> Calories: 30</p>
            <button type="button" class="btn btn-outline-primary">ADD</button>
          </div>
  
        </div>
      </div>
      <div class="col-sm table-responsive">
        <div class="card mb-3">
          <h5 class="card-header">Banana</h5>
          <img style="height: 150px; width: 100%; display: block;" src="../assets/banana.jpg" alt="Card image">
          <div class="card-body">
            <p class="p"> Calories: 89</p>
            <button type="button" class="btn btn-outline-primary">ADD</button>
          </div>
  
        </div>
      </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm table-responsive">
        <div class="card mb-3">
          <h5 class="card-header">Pineapple</h5>
          <img style="height: 150px; width: 100%; display: block;" src="../assets/pineapple.jpg" alt="Card image">
          <div class="card-body">
            <p class="p"> Calories: 50</p>
            <button type="button" class="btn btn-outline-primary">ADD</button>
          </div>
        </div>
  
      </div>
  
      <div class="col-sm table-responsive">
        <div class="card mb-3">
          <h5 class="card-header">Eggs</h5>
          <img style="height: 150px; width: 100%; display: block;" src="../assets/eggs.jpg" alt="Card image">
          <div class="card-body">
            <p class="p"> Calories: 155</p>
            <button type="button" class="btn btn-outline-primary">ADD</button>
          </div>
        </div>
      </div>
      <div class="col-sm table-responsive">
        <div class="card mb-3">
          <h5 class="card-header">Fish</h5>
          <img style="height: 150px; width: 100%; display: block;" src="../assets/fish.jpg" alt="Card image">
          <div class="card-body">
            <p class="p"> Calories: 166</p>
            <button type="button" class="btn btn-outline-primary">ADD</button>
          </div>
  
        </div>
      </div>
      <div class="col-sm table-responsive">
        <div class="card mb-3">
          <h5 class="card-header">Chicken</h5>
          <img style="height: 150px; width: 100%; display: block;" src="../assets/chickenn.jpg" alt="Card image">
          <div class="card-body">
            <p class="p"> Calories: 165</p>
            <button type="button" class="btn btn-outline-primary">ADD</button>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- footer started -->
  <!-- <footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">© Atul Mahajan's Website 2019. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="https://facebook.com">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://instagram.com">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="https://twitter.com">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="https://google.plus.com">
              <i class="fab fa-google-plus fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://pinterest.com">
              <i class="fab fa-pinterest fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->